*{
    font-family: 'REM', sans-serif;
    --blue: 70, 68, 203;
    --darkblue: 57, 55, 139;
    --red: 206, 20, 20;
    --darkred: 142, 11, 11;
    --green: 120, 191, 152;
    --darkgreen: 74, 131, 99;
}
body{
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    height: 60px;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: white;
    z-index: 100;
    cursor: normal;
}
header::-webkit-scrollbar{
    display: none;
}
header a{
    display: inline-block;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

h2,h4,h1{
    text-align: center;
}

h1{
    font-weight: 600;
    margin: 20px 0 0 0;
}
h4{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
ol:nth-child(3n){
    --main-color: var(--blue);
    --dark-color: var(--darkblue);
}

ol:nth-child(3n + 2){
    --main-color: var(--red);
    --dark-color: var(--darkred);
}

ol:nth-child(3n + 4){
    --main-color: var(--green);
    --dark-color: var(--darkgreen);
}
ol{
    &  li::marker{
        color: rgb(var(--main-color));
    }
    & li:nth-child(2n)::marker{
        color: rgb(var(--dark-color)) !important;
    }
}

li{
    margin: 2px 0;
    padding: 2px 0;
    line-height: 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(var(--main-color),0.2);
    & .container{
        display: flex;
        align-items: center;
    }
    & .separator{
        display: block;
        flex-grow: 1;
        order: 1;
    }
    & div{
        display:inline-block;
    }
    & input[type="checkbox"]{
        transform: translate(0,3px);
        cursor: pointer;
        order: 3;
    }
    & input[type="checkbox"]:checked + a{
        text-decoration: line-through;
        color: rgba(var(--main-color),0.5);
    }
    & button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0;
        margin-left: 5px;
        padding: 0;
        height: 100%;
        transform: translate(0,5px);
        order: 2;
        &:hover{
            transform: translate(0,6px);
        }
    }
    & img{
        height: 18px;
    }
}
li:nth-child(even){
    border-bottom: 1px solid rgba(var(--dark-color),0.15);
}

ol{
    width: fit-content;
    justify-self: center;
}
main a{
    text-decoration: none;
    color: rgb(var(--dark-color));
    order: 0 !important;
}
main a:visited{
    color: rgb(var(--main-color));
}

.notas{
    display: grid;
    background-color: white;
    height: 80vh;
    width: 80vw;
    left: 10vw;
    top: 10vh;
    position: fixed;
    z-index: 100;
    border: 1px solid black;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(2, 30px calc(80vh - 30px));
}
.header-notas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    border-bottom: 1px solid black;
    position: relative;
    & .nota-titulo{
        user-select: none;
    }
}
.close{
    position: absolute;
    width: fit-content;
    right: 0;
    background-color: transparent;
    height: 30px;
    border: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    justify-self: right;
    &:hover{
        color: rgba(0,0,0,0.6);
    }
}
.texto-nota{
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: rgba(0,0,0,0.03);
}

.hidden{
    display: none !important;
}